header {
    background-color: #333; /* Background color of the header */
    padding: 20px; /* Padding around the header content */
    text-align: center; /* Center align header content */
  }
  
  /* CSS styles for the header image */
  header img {
    max-width: 100%; /* Make sure the image scales proportionally within the header */
    height: auto; /* Maintain image aspect ratio */
    display: block; /* Remove any default inline styles that may affect spacing */
    margin: 0 auto; /* Center the image horizontally */
  }

h1 {   
    text-align: center;
    }
    
html {
    height: 300px;
    width: 400px;      
    }

body, h1, h2, h3, p {
    margin: 0;
    padding: 20;
    font-family: Georgia, serif;
    }
label {
    margin: 0;
    font-family: Georgia, serif;
    font-size: 14px;
}
textarea[type="thoughts"]::placeholder {
    text-align: center;
}

textarea[type="thoughts"] {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 5px;
    margin-right: 5px;
  }

button:hover {
background-color: #0056b3;
}

.button-container {
    display: flex;
    flex-direction: row;
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Center items vertically */
    margin: 0px;
}

input[type="text"] {
width: 100%;
padding: 10px;
margin-bottom: 10px;
border: 1px solid #ccc;
border-radius: 5px;
font-size: 14px;
}

a {
    color: #007bff;
    text-decoration: none;
    font-size: 14px;
  }

a:hover {
text-decoration: underline;
}

/* Style the dropdown (select) element */
select {
    width: 50%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: #fff; /* Background color */
    color: #333; /* Text color */
    appearance: none; /* Remove default styles on some browsers */
  }
  
  /* Style the dropdown arrow */
  select::-ms-expand {
    display: none; /* Hide the default arrow on IE/Edge */
  }
  
  /* Customize the dropdown when it's focused */
  select:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    outline: none;
  }
  
  /* Style the dropdown options */
  select option {
    background-color: #fff;
    color: #333;
    padding: 10px;
  }
  
/* Style the dropdown when an option is hovered */
select option:hover {
background-color: #007bff;
color: #fff;
}


  